nav.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top.p-0 {
    z-index: 1225;
}
div#sidebar-wrapper {
    z-index: 1222;
}
.navbar.fixed-top{
height: 56px;
box-shadow: 0px 3px #dfe6e9 ;
}
.px-2.row.no-gutters.div{
width: 240px;
    height: 100%;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}
button.bg-white.row.no-gutters.px-2 {
    padding-top: 6px;
    padding-bottom: 6px;
    align-items: flex-end;
}
button.bg-white.row.no-gutters.px-2:hover {
    background-color:#f8f9fa !important;
}
.my-2.my-sm-0:hover{
    background-color:#f8f9fa !important;
}
@media(min-width: 786px){
.form-group.has-search{
    padding: 0 15px;
    margin-left: 140px;
        width: 578px;
    }
}
@media(max-width: 786px){
    .form-group.has-search{
        padding: 0 15px;
        margin-left: 140px;
         
        }
    }


.bg-white{
    border: antiquewhite;
    
}

i.fab.fa-shopify {
    color:#6ab04c;
    font-weight: 700 !important;
}
@media (min-width: 786px){
.form-inline  {
   
    flex: 1 1 auto;
    justify-content: space-between;
    flex-flow: row !important;
    border: 0;
}}
@media (max-width: 576px){
  
.form-group.has-search {
    margin-left: 0px !important ; 
    width: 70% !important;
}
}
.p-2 {
        color:rgba(0, 47, 25,1);
        background: rgba(146, 230, 181,1);
        border-radius: 3rem;
    }
    main {
        margin-top: 58px;
    }
    div#sidebar-wrapper {
        width: 18% !important;
        border-right: 1px solid #dfe6e9;
    }
    .list-group-flush>.list-group-item {
      background: #f8f9fa;
    }
    a.list-group-item.list-group-item-action.list-group-item-light.p-1 {
        border-bottom: 0;
            color: #000;
        }
        .card-body.text-white.row {
            justify-content: space-between;
            align-items: center;
        }
 
   span.pl-4.span {
    font-size: 0.8rem;
    color:rgba(109,113,117,1) !important;
}

a.btn.btn-white {
    border: 1px solid #d9dee2;
}
.card{
    border-radius: 15px !important;
    
}
img.imghead {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
   
}
.img_p{
  
    position: absolute;
    bottom: 0;
    left: 10px;
    background: #d9d9d9;
    padding: 0 5px;
    
    
}
.play{
    color: #d9d9d9;
    position:absolute;
    left: 50%;
    top: 40%;
}
.col-md-4.text-center.bg-light {
   border-radius: 15px;
    padding: 50px 0;
}

.has-search .form-control {
    padding-left: 2.375rem;
}
 
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
button.ml-4.btn.text-white:hover{
    background-color: rgba(0,150,113,1);
}

@media (min-width: 768px){
    .bd-links {
        max-height: calc(100vh - 9rem);
        overflow-y: auto;
    }}
    .bd-links {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 1px solid rgba(0,0,0,0.05);
    }
  /*  @media (min-width: 1200px){
.bd-sidebar {
    -ms-flex: 0 1 320px;
    flex: 0 1 320px;
}}
@media (min-width: 768px){
.bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
}}
@media (min-width: 768px){
.bd-sidebar {
    border-right: 1px solid rgba(0,0,0,0.1);
}}
.bd-sidebar {
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}*/
.list-group-item.active {
 
    color: rgba(0,128,96,0.8) !important;
    background-color: #ebebeb !important;
     border-color: rgba(0,0,0,.125) !important; 
    border-right: 0 !important;
    border-left: 4px solid rgba(0,128,96,0.8) !important ;
    fill: rgba(0,128,96,0.8) !important;
   
}
.list-group-item.list2.active {
    background-color: #fff !important;
}

.list-group-item{
    color:rgba(92,95,98,1) !important;
    border-left: 0 !important;
    
}
.list-group-item.list2{
    background-color: #f8f9fa !important;

}
.list-group {
    border-radius: 0 !important;
}

.list-group-item:first-child {
border-top: 0 !important;}

.icon{
    display: block;
    height: 2rem;
    width: 20px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
.colum{
   
        max-width: 18rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
  
}
.but {
    margin: 3.2rem 0;
    flex-grow: 1;
    margin-left: 0;
    margin-top: 1.6rem;
}
.btn.col{
    background-color: rgba(0, 128, 96, 1);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.btn.col:hover{
    background-color:rgba(0,110,82,1);
    color: #fff;
}
.footer-col{
    display: inline-flex;
    align-items: center;
    padding: .8rem 1.6rem .8rem 0;
    justify-content: center;
    border-radius: 10rem;
 
}
.more{
   
    appearance: none;
    display: inline;
    text-align: inherit;
    padding: 0;
    background: none;
    border: 0;
    font-size: inherit;
    color: rgba(44,110,203,1);
    text-decoration: underline;
    cursor: pointer;
}
.more a{
    font-size: 0.9rem;
}
.img1{
    max-width: 12rem;
}
@media (max-width: 700px){
    .img1  {
       
       display: none; 
    }}
    @media (max-width: 700px){
        .ml-2.tiltlehide {
           
           display: none; 
        }}
        @media (max-width: 700px){
            .nav.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top.p-0 {
               
                    flex-wrap:unset !important;
            }}
       

a.text-white:hover{
    text-decoration: none;

}
.btn.p-2:hover{
    background: rgba(0,110,82,1);
}
button.ml-4.btn.text-white:hover{
    background: rgba(0,110,82,1);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
   border:0px;
    border-bottom: 3px solid rgba(0,110,82,1)!important;
    font-size: 16px;
    font-weight:400;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    color:#0b2e13;
    border:0px;
    border-bottom: 3px solid rgba(109,113,117,1) !important;
    font-size: 16px;
    font-weight: 400;

}
a.nav-link{
    color:rgba(109,113,117,1);
    margin-right: 5px;
}
.card-header.tab-card-header.bg-white{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.filter{
    padding: 1.6rem 0;
}
.filter2{
    display: flex;
    height: 36px;
}
.filter-left-but{
    display: flex;
    margin-left: .8rem;
}
@media (max-width: 1200px) {
    .btn-group.btn-group-toggle {
 display: none;
    }
}
.btn.btn-white.dropdown-toggle.fontt:hover{
    background: #ced4da !important;
}
.btn.btn-white.fontt:hover{
    background: #ced4da !important;
}
.icon{
    fill: rgba(92,95,98,1) !important;
}
.btn.fontt2 {
    background-color: #f8f9fa !important;

}
.img-table
{
    position: relative;
    display: block;
    overflow: hidden;
    background: white;
    min-width: 4rem;
    max-width: 100%;
    border-radius: 10px;
    border: .1rem solid rgba(225,227,229,1);
}
.img-table>img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    color: rgba(140,145,150,1);
}
.table thead th {
    font-size: 14px !important;
    font-weight: 500;
    border-top:0 !important;
}
.table tbody td {
    font-size: 14px;

}
.btn.p-2.btntable:hover{
    background-color: rgba(0,0,0,.075);
}

.table tbody td a {
    color: #000;
}
.dropdown-menu.scrollable-menu.show {
    left: -120px !important;
    height: 300px;
    overflow: auto;
    box-shadow: 0 0 24px rgb(127 170 203 / 22%);
    border-radius: 15px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 24px rgb(127 170 203 / 42%);
    transition: 0.5s;

}
.scroll{
    height: 100%;
    overflow-x: auto;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: rgba(26,28,29,1);
    display: block;
    transition: 0.3s;
    font-weight: 600;}



.sidebar.closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
    text-align: right;

}
.btn.nav-link.collapsed.text-truncate:hover {
   background: rgba(0,0,0,.075);
    color: rgba(26,28,29,1);

}
.asidefilter{
    font-size: 15px;
    padding-left: 20px;
}
.icon.filters{
    margin-right: 10% !important;
}
.btn.focus, .btn:focus {

    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0) !important;
}
.nav-link:hover{
    background: rgba(0,0,0,.075);
}
.submune:hover{
    color: rgba(26,28,29,1) !important;
    cursor: pointer;
}
.submune{
    font-size: 14px !important;
    font-weight: 400 !important;

}
.form-check-input.subradio{
    width: 19px;
    height: 19px;
}
.form-check-label.sublabel{
    margin-left: 10px;
    margin-top: 5px;
}
.pointr:hover{
    cursor: pointer;
    color: #000;
}

.pointr{
    padding: 0 30px !important;
}
.custom-control-label:hover{
    cursor: pointer;
    color: #000;
}
input[type=checkbox].form-check-input{
    width: 17px;
    height: 17px;
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 620px !important;

    }}
.modal-body {
    font-size: 14px;
}
input#flexRadioDefault18,input#flexRadioDefault19,input#flexRadioDefault20,input#flexRadioDefault21,input#flexRadioDefault22,input#flexRadioDefault23 {
    height: 17px;
    width: 17px;
}
label.form-check-label {
    color: #000;
    font-size: 15px;
}
.custom-control.custom-checkbox{
    margin-top: 7px;
}
button#dropdownMenuButton28:hover{
    background: rgba(0,110,82,1) !important; ;
}